.table-container {
    border-collapse: collapse;
    border-spacing: 0;
}

.thead-container {
    background: var(--corPrimary);
    height: 49px;
    box-shadow: 0px 1px 2px #00000033;
    border-radius: 4px 4px 0px 0px;
}